//scss herbruikbaar voor op elke pagine
/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/


//mixins


//globale classes
//Jason
.content{position: relative;overflow: hidden}
.content .content-overlay{
  background: rgba(0,0,0,0.7);
  position: absolute;left: 0;top: 0;bottom: 0;right: 0;opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s}
.content:hover .content-overlay{opacity: 1}
.content-details{
  position: absolute;text-align: center;
  padding-left: 1em;padding-right: 1em;
  width: auto;top: 50%;left: 50%;opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s}
.content-image{width: auto}
.content:hover .content-details{top: 50%;left: 50%;opacity: 1}
.content-details h3{color: #fff;font-weight: 500;letter-spacing: 0.15em;margin-bottom: 0.5em;text-transform: uppercase}
.fadeIn-bottom{top: 90%}
//header start

//header end


//footer start


//footer end
